.home {
  background-image: url('../../public/index-background.png');
  background-repeat: no-repeat;
  background-position: top;
}

.max-text {
  max-width: 51rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  text-align: center;
}

.container {
  height: 100vh;
}

.home .main-section {
  padding: 0 1.5rem;
  
  & h1 {
    font-size: 58px;
  }

  & p {
    font-size: 24px;
  }

  & .main-button-group {
    display: flex;
    gap: 1rem;
  }
}

.home .first-section {
  width: 100vw;

  & .solid-color-background {
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: start;

    background-color: #EBEDF7;

    & .img {
      aspect-ratio: 3/2;
      border-radius: 1rem 0 1rem 0;
      max-width: 35vw;
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    & .text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 25rem;
    }
  }
}

.home .second-section {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: start;
  gap: 5rem;

  & .img {
    aspect-ratio: 3/3;
    border-radius: 50%;
    max-width: 35vw;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  & .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 25rem;
  }

  & .button-group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (width <= 576px) {
  .home main h1 {
    font-size: 40px !important;
  }

  .home main p {
    font-size: 20px !important;
  }
}

@media screen and (width <= 992px) {
  .home .first-section .solid-color-background {
    flex-direction: column-reverse;

    & .img {
      max-width: 50vw;
    }
  }

  .home .second-section {
    flex-direction: column;

    & .img {
      max-width: 40vw;
    }
  }
}

@media screen and (width <= 550px) {
  .home .first-section .solid-color-background .img, .home .second-section .img {
    display: none;
  }
}


